html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    padding: 10px;
  }
  #isi{
    border: 10px solid aliceblue; 
    clear: both;
    width: auto;
    margin: auto;
    background: aliceblue;
    color: #000000;
    text-align:left;
  }

  .latar {
      background-color:rgb(188, 191, 191);
      width: auto;
      height: auto;
  }
  .bold{
      font-weight: bold;
  }
  .nama {
      text-align: center;
      font: bold;
      font-size: 50px;
  }
  #sidebar{
      float: left;
      background-color: #2e2c2c;    
      text-decoration: none;
      width: 40%;
      height: auto;
  }
  .content{
    color: #FFFFFF;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    text-align: justify;
  }
 .foto{
    width: 300px;
    height: 350px;
    border: 20px solid;
    content: center;
 }
 #description{
    float: right;
    background-color: rgba(208, 205, 205, 0.815);    
    text-decoration: none;
    width: 60%;
    height: auto;
 }
 .title{
     text-align: center;
 }
 .content-desc{
    color: #2e2c2c;
    padding: 10px;
    margin: auto;
    text-decoration: none;
    text-align: justify;
 }